.text-danger{
    color:red;
    font-size:smaller;
}
@media print {
    .no-print {
        display: none !important;
    }
}

.table-scroll {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of table cells */
}
