@{
    Layout = "~/Views/Shared/Users/UserLayout.cshtml";
}
@model PG_Management_System.Areas.User.Models.UserIssue;
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Report Yout Issue</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Create Issue</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Add issue</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form asp-area="User" asp-controller="User" asp-action="SaveIssue" method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Add You Issue</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-12">
                                    <div class="form-group">
                                        <label for="email2">Issue Image</label>
                                        <input type="text"
                                               asp-for="Issue_ImgPath"
                                               class="form-control"
                                               id="inlineinput"
                                               placeholder="Select Image" required />
                                        <span asp-validation-for="Issue_ImgPath" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Issue Description</label>
                                        <input type="text"
                                               asp-for="Issue_Description"
                                               class="form-control"
                                               id="inlineinput"
                                               placeholder="Enter Details" required />
                                        <span asp-validation-for="Issue_Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}