@{
    Layout = "~/Views/Shared/Users/UserLayout.cshtml";
}
@using System.Data;
<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-round">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <div class="card-title">Transaction History</div>
                            <div class="card-tools">
                                <div class="dropdown">
                                    <button class="btn btn-icon btn-clean me-0"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu"
                                         aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                            <!-- Projects table -->
                            <table class="table align-items-center mb-0">
                                <thead class="thead-light" style="position: sticky; top: 0">
                                    <tr>
                                        @* <th scope="col">Person Name</th> *@
                                        <th scope="col" >Amount</th>
                                        <th scope="col">Payment Created date</th>
                                        <th scope="col">Accept date</th>
                                        <th scope="col" >Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow dr in Model.Rows)
                                    {
                                        <tr>
                                            @* <td>@dr["Person_Name"]</td> *@
                                            
                                            <td>@dr["Room_Rent"]</td>
                                            <td>
                                                @Convert.ToDateTime(dr["Payment_CreationDate"]).ToString("dd-MM-yyyy")
                                            </td>
                                            <td>
                                                @(dr["Payment_ReceivedDate"] == DBNull.Value
                                                    ? "N/A"
                                                    : Convert.ToDateTime(dr["Payment_ReceivedDate"]).ToString("dd-MM-yyyy"))
                                            </td>

                                            <td>
                                                @{
                                                    int paymentStatus = dr["Payment_Status"] != DBNull.Value ? Convert.ToInt32(dr["Payment_Status"]) : 0;

                                                    if (paymentStatus == 0)
                                                    {
                                                        <span class="badge badge-warning">pendding</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-success">Accept</span>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
