@{
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}
@model PG_Management_System.Areas.PG_Hostel.Models.Hostel;

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Add Building</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Home</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Add Building</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form asp-area="PG_Hostel" asp-controller="PG_Hostel" asp-action="SavePg" method="post">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.Owner_ID)
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Fill PG_Hostel Details</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-12">
                                    <div class="form-group">
                                        <label for="email2">Building Number</label>
                                        <input type="text"
                                               asp-for="Hostel_Building_Number"
                                               class="form-control"
                                               id="inlineinput"
                                               placeholder="Enter Pg building number" required />
                                        <span asp-validation-for="Hostel_Building_Number" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Address</label>
                                        <textarea type="text"
                                                  asp-for="Hostel_Address"
                                                  class="form-control input-full"
                                                  id="inlineinput"
                                                  form-control input-full
                                                  placeholder="Enter Pg building Address" required>

                                            </textarea>
                                       @*  <input type="text"
                                               asp-for="Hostel_Address"
                                               class="form-control"
                                               id="inlineinput"
                                               placeholder="Enter Pg building Address" required /> *@
                                        <span asp-validation-for="Hostel_Address" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}