@{
    Layout = "~/Views/Shared/Admin/AdminLayout.cshtml";
}
@model PG_Management_System.Areas.PG_Hostel.Models.Hostel;

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Add PG</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Home</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Add PG</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form asp-area="PG_Hostel" asp-controller="PG_Hostel" asp-action="SavePg" method="post">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.Owner_ID)
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Fill PG Details</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-12">
                                    <div class="form-group">
                                        <label for="email2">PG Number*</label>
                                        <div class="col-md-9 p-0">
                                            <input type="text"
                                                   asp-for="PG_Number"
                                                   class="form-control"
                                                   id="inlineinput"
                                                   placeholder="Enter Pg number" required />
                                            <span asp-validation-for="PG_Number" class="text-danger"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="email2">PG Floor*</label>
                                        <div class="col-md-9 p-0">
                                            <input type="text"
                                                   asp-for="Hostel_Floor"
                                                   class="form-control"
                                                   id="inlineinput"
                                                   placeholder="Enter PG Floor" required />
                                            <span asp-validation-for="Hostel_Floor" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email2">PG Society*</label>
                                        <div class="col-md-9 p-0">
                                            <input type="text"
                                                   asp-for="Hostel_Society"
                                                   class="form-control"
                                                   id="inlineinput"
                                                   placeholder="Enter PG Society" required />
                                            <span asp-validation-for="Hostel_Society" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="inlineinput"
                                               class="col-md-3 col-form-label">Gender For*</label>
                                        <div class="col-md-9 p-0">
                                            <select class="form-control input-full" data-control="select2" data-placeholder="Select Gender" data-allow-clear="true" asp-for="Hostel_Gender">
                                                <option value="">Select Gender*</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                            <span asp-validation-for="Hostel_Gender" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group form-inline">
                                        <label for="inlineinput"
                                               class="col-md-3 col-form-label">Property Category</label>
                                        <div class="col-md-9 p-0">
                                            <select class="form-control input-full" data-control="select2" data-placeholder="Select PG Hostel" data-allow-clear="true" asp-for="Hostel_Property_Category">
                                                <option value="">Select Property Category *</option>
                                                <option value="Own">Own</option>
                                                <option value="Contract">Contract</option>
                                            </select>
                                            <span asp-validation-for="Hostel_Property_Category" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email2">PG Type</label>
                                        <div class="col-md-9 p-0">
                                            <select class="form-control input-full" data-control="select2" data-placeholder="Select PG" data-allow-clear="true" asp-for="Hostel_Type">
                                                <option value="">Select PG Type*</option>
                                                <option value="Flat">Flat</option>
                                                <option value="Banglow">Banglow</option>
                                            </select>
                                            <span asp-validation-for="Hostel_Type" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email2">Minimum Payment</label>
                                        <div class="col-md-9 p-0">
                                            <input type="text"
                                                   asp-for="Hostel_MinimumPayment"
                                                   class="form-control"
                                                   id="inlineinput"
                                                   placeholder="Enter MinimumPayment" required />
                                            <span asp-validation-for="Hostel_MinimumPayment" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Address</label>
                                        <div class="col-md-9 p-0">
                                            <textarea type="text"
                                                      asp-for="Hostel_Address"
                                                      class="form-control input-full"
                                                      id="inlineinput"
                                                      form-control input-full
                                                      placeholder="Enter Pg building Address" required>

                                            </textarea>
                                            @*  <input type="text"
                                            asp-for="Hostel_Address"
                                            class="form-control"
                                            id="inlineinput"
                                            placeholder="Enter Pg building Address" required /> *@
                                            <span asp-validation-for="Hostel_Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}