@using PG_Management_System.BAL;
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>PG Management System</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />
    <link rel="icon"
          href="~/assets/img/Infinity-removebg.png"
          type="image/x-icon" />
    <!-- Fonts and icons -->

    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["~/assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/fonts.css" />
    <link rel="stylesheet" href="~/assets/css/fonts.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="~/assets/css/kaiadmin.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/3.1.3/css/bootstrap-notify.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/3.1.3/bootstrap-notify.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/kaiadmin.css" />


</head>
<body>
    <audio id="notificationSound" src="~/assets/audio/PopupAudio.mp3" preload="auto"></audio>

    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a asp-area="PG_Owner" asp-controller="PG_Owner" asp-action="Dashboard" class="logo">
                        <img src="~/assets/img/Infinity-removebg.png"
                             alt="navbar brand"
                             class="navbar-brand"
                             height="180"
                             width="180" />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-item active">
                            <a asp-area="PG_Staff" asp-controller="PG_Staff" asp-action="Dashboard">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                       @*  <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Components</h4>
                        </li> *@
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#PGHostel">
                                <i class="fas fa-building"></i>
                                <p>PG Hotel</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="PGHostel">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-area="PG_Hostel" asp-controller="PG_Hostel" asp-action="AllPgList">
                                            <span class="sub-item">See All PG</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="PG_Hostel" asp-controller="PG_Hostel" asp-action="AddEditPG_Hostel">
                                            <span class="sub-item">Add New PG</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#Staff">
                                <i class="fas fa-user-friends"></i>
                                <p>Staff</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="Staff">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-area="PG_Staff" asp-controller="PG_Staff" asp-action="AllStaffList">
                                            <span class="sub-item">See All Staff</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="PG_Staff" asp-controller="PG_Staff" asp-action="AddEditPG_Staff">
                                            <span class="sub-item">Add New Staff</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#Person">
                                <i class="fas fa-users"></i>
                                <p>Persons</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="Person">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-area="PG_Person" asp-controller="PG_Person" asp-action="AllPersonList">
                                            <span class="sub-item">See All Persons</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="PG_Person" asp-controller="PG_Person" asp-action="Add">
                                            <span class="sub-item">Add New Persons</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#Room">
                                <i class="fas fa-home"></i>
                                <p>Rooms</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="Room">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-area="PG_Room" asp-controller="PG_Room" asp-action="PGList">
                                            <span class="sub-item">See All Rooms</span>
                                        </a>

                                    </li>
                                    <li>
                                        @*
                                        <a asp-area="PG_Room" asp-controller="PG_Room" asp-action="Add">
                                        <span class="sub-item">Add New Room</span>
                                        </a>
                                        </li> *@
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#Beds">
                                <i class="fas fa-bed"></i>
                                <p>Beds</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="Beds">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-area="PG_Bed" asp-controller="PG_Bed" asp-action="PGList">
                                            <span class="sub-item">See All Beds</span>
                                        </a>
                                    </li>
                                    @*   <li>
                                    <a asp-area="PG_Bed" asp-controller="PG_Bed" asp-action="Add">
                                    <span class="sub-item">Add New Bed</span>
                                    </a>
                                    </li> *@
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a asp-area="PG_Issues" asp-controller="PG_Issues" asp-action="AllIssuesList">
                                <i class="fas fa-exclamation-circle"></i>
                                <p>Issues</p>
                                <span id="issueCountBadge" class="badge bg-warning">0</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="PG_Announcement" asp-controller="PG_Announcement" asp-action="AddAnnouncement">
                                <i class="fas fa-volume-up"></i>
                                <p>Announcemet</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a href="index.html" class="logo">
                            <img src="~/assets/img/kaiadmin/logo_light.svg"
                                 alt="navbar brand"
                                 class="navbar-brand"
                                 height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->

                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                       @*  <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pe-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text"
                                       placeholder="Search ..."
                                       class="form-control" />
                            </div>
                        </nav> *@

                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-icon dropdown hidden-caret">
                                <a class="nav-link dropdown-toggle"
                                   asp-area="Login" asp-controller="Login" asp-action="Logout"
                                   id="messageDropdown">
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                                <ul class="dropdown-menu messages-notif-box animated fadeIn"
                                    aria-labelledby="messageDropdown">
                                </ul>
                            </li>
                            
                            

                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   aria-expanded="false">
                                    @* <div class="avatar-sm">
                                        <img src="~/assets/img/profile.jpg"
                                             alt="..."
                                             class="avatar-img rounded-circle" />
                                    </div> *@
                                    <span class="profile-username">
                                        <span class="op-7">Hi,</span>
                                        <span class="fw-bold">@CV.Owner_Name()</span>
                                    </span>
                                </a>
                               
                               
                            </li>
                        </ul>
                        </div>
                </nav>
                <!-- End Navbar -->
            </div>

            @RenderBody()
        </div>


    </div>

    <!--   Core JS Files   -->
    <script src="~/assets/js/kaiadmin.js"></script>
    <script src="~/assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>

    <script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>


    <!-- jQuery Scrollbar -->
    <script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Datatables -->
    <script src="~/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Sweet Alert -->
    <script src="~/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Chart JS -->
    <script src="~/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="~/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/assets/js/plugin/jsvectormap/world.js"></script>

    <!-- Kaiadmin JS -->
    <script src="~/assets/js/kaiadmin.min.js"></script>

    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <script src="~/assets/js/setting-demo.js"></script>
    <script src="~/assets/js/demo.js"></script>
    <script src="~/assets/js/setting-demo2.js"></script>

    <script>
        let previousIssueCount = parseInt(localStorage.getItem("previousIssueCount")) || 0;

        $(document).ready(function () {
            function showNotification() {
                var content = {
                    message: 'You have new pending issues!',
                    title: "New Notification",
                    icon: "fa fa-bell"
                };

                $.notify(content, {
                    type: 'warning',
                    placement: {
                        from: 'top',
                        align: 'right'
                    },
                    time: 1000,
                    delay: 0
                });
            }

            function updateIssueCount() {
                $.ajax({
                    url: '@Url.Action("GetIssuesCountByOwnerId", "PG_Issues", new { Area = "PG_Issues" })',
                    type: 'GET',
                    success: function (data) {
                        $('#issueCountBadge').text(data);

                        if (data > 0 && data !== previousIssueCount) {
                            if (data > previousIssueCount) {
                                playNotificationSound();
                                showNotification();
                            }
                        }

                        // Update previous issue count in both variable and local storage
                        previousIssueCount = data;
                        localStorage.setItem("previousIssueCount", data);
                    },
                    error: function (error) {
                        console.log("Error fetching issue count: ", error);
                    }
                });
            }

            function playNotificationSound() {
                const audio = document.getElementById('notificationSound');
                audio.play().catch(function (error) {
                    console.error("Audio playback failed:", error);
                });
            }

            // Call the function periodically every 10 seconds
            setInterval(updateIssueCount, 15000);
            updateIssueCount(); 
        });


    </script>

    <script>
        $(document).ready(function () {
            $("#basic-datatables").DataTable({});

            $("#multi-filter-select").DataTable({
                pageLength: 5,
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var column = this;
                            var select = $(
                                '<select class="form-select"><option value=""></option></select>'
                            )
                                .appendTo($(column.footer()).empty())
                                .on("change", function () {
                                    var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                    column
                                        .search(val ? "^" + val + "$" : "", true, false)
                                        .draw();
                                });

                            column
                                .data()
                                .unique()
                                .sort()
                                .each(function (d, j) {
                                    select.append(
                                        '<option value="' + d + '">' + d + "</option>"
                                    );
                                });
                        });
                },
            });

            // Add Row
            $("#add-row").DataTable({
                pageLength: 5,
            });

            var action =
                '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

            $("#addRowButton").click(function () {
                $("#add-row")
                    .dataTable()
                    .fnAddData([
                        $("#addName").val(),
                        $("#addPosition").val(),
                        $("#addOffice").val(),
                        action,
                    ]);
                $("#addRowModal").modal("hide");
            });
        });

        // Sparkline Charts
        $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
            type: "line",
            height: "70",
            width: "100%",
            lineWidth: "2",
            lineColor: "#177dff",
            fillColor: "rgba(23, 125, 255, 0.14)",
        });

        $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
            type: "line",
            height: "70",
            width: "100%",
            lineWidth: "2",
            lineColor: "#f3545d",
            fillColor: "rgba(243, 84, 93, .14)",
        });

        $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
            type: "line",
            height: "70",
            width: "100%",
            lineWidth: "2",
            lineColor: "#ffa534",
            fillColor: "rgba(255, 165, 52, .14)",
        });

        // Nav-item Active Class Management
        document.addEventListener('DOMContentLoaded', function () {
            const navItems = document.querySelectorAll('.nav-item');

            function clearActiveClasses() {
                navItems.forEach(item => {
                    item.classList.remove('active');
                    const subItems = item.querySelectorAll('.nav-collapse a');
                    subItems.forEach(subItem => subItem.classList.remove('active'));
                });
            }

            navItems.forEach(item => {
                const mainLink = item.querySelector('a');
                mainLink.addEventListener('click', function () {
                    clearActiveClasses();
                    item.classList.add('active');
                });

                const subItems = item.querySelectorAll('.nav-collapse a');
                subItems.forEach(subItem => {
                    subItem.addEventListener('click', function (e) {
                        e.stopPropagation();
                        clearActiveClasses();
                        item.classList.add('active');
                        subItem.classList.add('active');
                    });
                });
            });
        });
    </script>
    <script>
        //== Class definition
        var SweetAlert2Demo = (function () {
            //== Demos
            var initDemos = function () {
                //== Sweetalert Demo 1
                $("#alert_demo_1").click(function (e) {
                    swal("Good job!", {
                        buttons: {
                            confirm: {
                                className: "btn btn-success",
                            },
                        },
                    });
                });

                //== Sweetalert Demo 2
                $("#alert_demo_2").click(function (e) {
                    swal("Here's the title!", "...and here's the text!", {
                        buttons: {
                            confirm: {
                                className: "btn btn-success",
                            },
                        },
                    });
                });

                //== Sweetalert Demo 3
                $("#alert_demo_3_1").click(function (e) {
                    swal("Good job!", "You clicked the button!", {
                        icon: "warning",
                        buttons: {
                            confirm: {
                                className: "btn btn-warning",
                            },
                        },
                    });
                });

                $("#alert_demo_3_2").click(function (e) {
                    swal("Good job!", "You clicked the button!", {
                        icon: "error",
                        buttons: {
                            confirm: {
                                className: "btn btn-danger",
                            },
                        },
                    });
                });

                $("#alert_demo_3_3").click(function (e) {
                    swal("Good job!", "You clicked the button!", {
                        icon: "success",
                        buttons: {
                            confirm: {
                                className: "btn btn-success",
                            },
                        },
                    });
                });

                $("#alert_demo_3_4").click(function (e) {
                    swal("Good job!", "You clicked the button!", {
                        icon: "info",
                        buttons: {
                            confirm: {
                                className: "btn btn-info",
                            },
                        },
                    });
                });

                //== Sweetalert Demo 4
                $("#alert_demo_4").click(function (e) {
                    swal({
                        title: "Good job!",
                        text: "You clicked the button!",
                        icon: "success",
                        buttons: {
                            confirm: {
                                text: "Confirm Me",
                                value: true,
                                visible: true,
                                className: "btn btn-success",
                                closeModal: true,
                            },
                        },
                    });
                });

                $("#alert_demo_5").click(function (e) {
                    swal({
                        title: "Input Something",
                        html: '<br><input class="form-control" placeholder="Input Something" id="input-field">',
                        content: {
                            element: "input",
                            attributes: {
                                placeholder: "Input Something",
                                type: "text",
                                id: "input-field",
                                className: "form-control",
                            },
                        },
                        buttons: {
                            cancel: {
                                visible: true,
                                className: "btn btn-danger",
                            },
                            confirm: {
                                className: "btn btn-success",
                            },
                        },
                    }).then(function () {
                        swal("", "You entered : " + $("#input-field").val(), "success");
                    });
                });

                $("#alert_demo_6").click(function (e) {
                    swal("This modal will disappear soon!", {
                        buttons: false,
                        timer: 3000,
                    });
                });

                $("#alert_demo_7").click(function (e) {
                    swal({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        type: "warning",
                        buttons: {
                            confirm: {
                                text: "Yes, delete it!",
                                className: "btn btn-success",
                            },
                            cancel: {
                                visible: true,
                                className: "btn btn-danger",
                            },
                        },
                    }).then((Delete) => {
                        if (Delete) {
                            swal({
                                title: "Deleted!",
                                text: "Your file has been deleted.",
                                type: "success",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-success",
                                    },
                                },
                            });
                        } else {
                            swal.close();
                        }
                    });
                });

                $("#alert_demo_8").click(function (e) {
                    swal({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        type: "warning",
                        buttons: {
                            cancel: {
                                visible: true,
                                text: "No, cancel!",
                                className: "btn btn-danger",
                            },
                            confirm: {
                                text: "Yes, delete it!",
                                className: "btn btn-success",
                            },
                        },
                    }).then((willDelete) => {
                        if (willDelete) {
                            swal("Poof! Your imaginary file has been deleted!", {
                                icon: "success",
                                buttons: {
                                    confirm: {
                                        className: "btn btn-success",
                                    },
                                },
                            });
                        } else {
                            swal("Your imaginary file is safe!", {
                                buttons: {
                                    confirm: {
                                        className: "btn btn-success",
                                    },
                                },
                            });
                        }
                    });
                });
            };

            return {
                //== Init
                init: function () {
                    initDemos();
                },
            };
        })();

        //== Class Initialization
        jQuery(document).ready(function () {
            SweetAlert2Demo.init();
        });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>