@{
    Layout = "~/Views/Shared/Admin/Adminlayout.cshtml";
}
<div class="container">
    <div class="page-inner">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">Dashboard</h3>
                <!-- <h6 class="op-7 mb-2">Free Bootstrap 5 Admin Dashboard</h6> -->
            </div>
            <!-- <div class="ms-md-auto py-2 py-md-0">
              <a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
              <a href="#" class="btn btn-primary btn-round">Add Customer</a>
            </div> -->
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-primary bubble-shadow-small">
                                    <i class="fas fa-building"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Total PG</p>
                                    <h4 id="TotalPg" class="card-title">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-primary bubble-shadow">
                                    <i class="fas fa-home"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Total Room</p>
                                    <h4 id="TotalRoom" class="card-title">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-primary bubble-shadow-small">
                                    <i class="fas fa-bed"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Total Beds</p>
                                    <h4 id="TotalBed" class="card-title">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">Total Person</p>
                                    <h4 id="TotalPerson" class="card-title">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*   <div class="row">
        <div class="col-md-12">
        <div class="card">
        <div class="card-header">
        <div class="card-title">Our Location</div>
        </div>
        <div class="card-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63536.63871717301!2d95.32870249999999!3d5.5611019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3040377ae63dbcdf%3A0x3039d80b220cb90!2sBanda%20Aceh%2C%20Kota%20Banda%20Aceh%2C%20Aceh!5e0!3m2!1sid!2sid!4v1701054428265!5m2!1sid!2sid"
        width="600"
        height="450"
        style="border: 0; width: 100%"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        </div>
        </div>
        </div> *@

        <div class="row">
            @* <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Striped Rows</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   id="defaultInput"
                                   placeholder="Default Input" />
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jacob</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td colspan="2">Larry the Bird</td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div> *@
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Search</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   id="defaultInput"
                                   placeholder="Default Input" />
                        </div>
                        <div class="table-responsive">
                            <div class="table-scroll" style="overflow-y: auto; max-height: 250px;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sr.</th>
                                            <th>Table heading</th>
                                            <th>Table heading</th>
                                            <th>Table heading</th>
                                            <th>Table heading</th>
                                            <th>Table heading</th>
                                            <th>Table heading</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                            <td>Table cell</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Search Person</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   id="defaultInput"
                                   placeholder="Default Input" />
                        </div>
                        <div class="table-responsive">
                            <div class="table-scroll" style="overflow-y: auto; max-height: 250px;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sr.</th>
                                            <th>Name</th>
                                            <th>Mobile No.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Name</td>
                                            <td>View Details</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "@Url.Action("SelectPGDetalsForDashBoard", "PG_Owner", new { area = "PG_Owner" })",
            data: {},
            dataType: "json",
            success: function (Result) {
                // Assuming Result is an object containing counts
                if (Result) {
                    // alert(JSON.stringify(Result))
                    $("#TotalPg").text(Result.totalHostel || 0);
                    $("#TotalRoom").text(Result.totalRoom || 0);
                    $("#TotalPerson").text(Result.totalPerson || 0);
                    $("#TotalBed").text(Result.totalBed || 0);
                } else {
                    $("#TotalPg").text(0);
                    $("#TotalRoom").text(0);
                    $("#TotalPerson").text(0);
                }
            },
            error: function (err) {
                console.error("Error While Running AJAX in room:", err);
                alert("Error While Running AJAX");
            }
        });
    });
</script> 